name: Build AsuraScans

on:
  workflow_dispatch:
  push:
    paths:
      - "src/madara/asurascans/**"
      - ".github/workflows/build-asurascans.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Make Gradle executable
        run: chmod +x gradlew

      - name: Build AsuraScans
        run: ./gradlew :src:madara:asurascans:assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: asurascans-apk
          path: output/src/madara/asurascans/*.apk
